.drp-wrap .rdp-month_caption {
  font-size: 12px;
  font-weight: 600;
  height: 26px;
}
.drp-wrap .rdp-caption_label {
  font-size: 12px;
  font-weight: 600;
}
.drp-wrap .rdp-nav {
  height: 26px;
}
.drp-wrap .rdp-button_previous,
.drp-wrap .rdp-button_next {
  width: 22px;
  height: 22px;
}
.drp-wrap .rdp-weekday {
  font-size: 10px;
  padding: 2px 0;
}
.drp-wrap .rdp-day_button {
  font-size: 11px;
}
